.header {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.911) 0%, rgba(0, 0, 0, 0.945) 100%);
    padding: 17px 0;
    border-bottom: 1px solid rgb(194, 179, 179);
    z-index: 3;
}

nav {
    ul {
        display: flex;
        justify-content: center;
        list-style-type: none;

        li {
            margin-right: 50px;

            a{
                font-family: 'Inter', sans-serif;
                color: #fff;
                text-decoration: none;
                transition: ease-in-out 0.5s;
                position: relative; 
            }

            .link_menu::before {
                content:'';
                position: absolute;
                display: block;
                width: 0;
                height: 0;
                bottom: -2px;
                left: 0;
                border-radius: 50%;
                background-color: #ffffff;
                transition: ease-in-out 0.5s;
            }
            
            .active {
                color:#ffffff;
                text-shadow: 0 0 4px rgb(252, 251, 250), 0 0 4px rgb(223, 220, 214);
            }

            .active::before {
                content:'';
                position: absolute;
                display: block;
                width: 100%;
                height: 2px;
                bottom: -2px;
                left: 0;
                border-radius: 50%;
                background-color: #FDB827;
            }

            .link_menu:hover {
                color: #FDB827;
            }

            .link_menu:hover::before{
                width: 100%;
                height: 2px;
            }
        }
    }
    
} 

.burger {
    display: none;
    justify-content: flex-end;
    align-items: center;
}

.burger label {
    cursor: pointer;
    position: relative;
    top: 5px;
    width: 30px;
    height: 20px;
    z-index: 4;
   }
   
input.burger__check {
    display: none;
       
}
   
   
.burger label span,
.burger label span::before,
.burger label span::after {
    position: absolute;
    top: 5px;
    display: block;
    transition: all 0.5s ease;
    width: 30px;
    height: 5px;
    background-color: #FDB827;

}

.burger label span::before {
    content: "";
    clear: both;
    top: 7px;
      
}

.burger label span:after {
    content: "";
    clear: both;
    top: -7px;
}
   
input.burger__check:checked ~ label>span {
    transform: rotate(140deg);
    width: 4px;
    height: 20px;
    background-color: #ffffff;
    position: fixed;
    top: 15px;
    right: 90px;
}
   
input.burger__check:checked ~ label>span::after {
    width: 4px;
    height: 20px;
    top: 0px;
    right: 0px;
    transform: rotate(85deg);
    background-color: #ffffff;
}

input.burger__check:checked ~ label>span:hover,
input.burger__check:checked ~ label>span:hover::after {
    background-color: rgb(243, 56, 72);
}

input.burger__check:checked ~ label>span::before {
    display: none;
}
   
.burger-nav {
    height: auto;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(48, 42, 30, 0.7);
    top: -100%;
    right: 4px;
    text-align: center;
    z-index: 3;
    transition: all 1000ms cubic-bezier(0.280, -0.315, 0.685, 1.390);  
    border-radius: 15px;
    box-shadow: 0 0 100px 1px #838282 inset;
    opacity: 0; 
    width: 99%;
    height: 99%;
   }
   
input.burger__check:checked ~ .burger-nav {
    backdrop-filter: blur(2px);
    top: 5px;
    transition-duration: 1.25s;
   
    opacity: 1;
      
}
   
.burger-nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    padding: 50px;
    transition-duration: .25s;
}

.burger-nav li{
    margin-right: 0;
}
.burger-nav li a {
    margin-bottom: 15px;
    border-radius: 15px;
    display: block;
    position: relative;
    font-weight: bold;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    transition: ease-in-out 0.5s;
}
    
